<IfModule mod_headers.c>
    <FilesMatch "\.(m3u8|m4s|vtt|png|jpg|jpeg)$">
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET, OPTIONS"
        Header set Access-Control-Allow-Headers "*"
    </FilesMatch>
</IfModule>